/* 전체 레이아웃 */
#wrap {
    height: 20000px;
}

/* 컨테이너 */
.container {
    width: 1200px;
    margin: 0 auto;
}


/* 1. float를 사용할 경우*/
/* #header {
    padding: 10px;
    border: 1px solid #333;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    float: left;
    width: 20%;
    padding: 20px 18px;
}
#header .logo a {
    font-size: 30px;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    float: left;
    width: 60%;
    text-align: center;
}
#header .menu div {
    display: inline-block;
    padding: 30px;
}
#header .member {
    float: right;
    width: 20%;
    text-align: right;
    padding: 30px 10px;
}
#header .member a {
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 50px;
} */

/* flex를 사용할 경우 */
/* #header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
}

#header .logo {
    /* flex : flex-grow: 0; / flex-shrink: 0; / flex-basis: 20%; 3가지를 한번에 */
/* flex: 0 0 20%;
}

#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline-block;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
}
#header .member {
    flex: 0 0 20%;
    text-align: left;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #333 ;
    border-radius: 50px;
} */

/* 헤더3 grid를 사용하는 경우 */

#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    min-width: 1200px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* 그리드 */
}

#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}

#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}

#header .menu {
    text-align: center;
}

#header .menu li {
    display: inline;
}

#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    transition: background 0.4s;
}

#header .menu li a:hover {
    background: #f5f5f5;
    border-radius: 10px;
}

/* #header .menu div a:hover {
    border-bottom: 1px solid #000;
} */

#header .member {
    flex: 0 0 20%;
    padding: 10px 18px;
    text-align: right;
}

#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #333;
    border-radius: 50px;
    transition: all 0.3s;
}

#header .member a:hover {
    background: #333;
    color: #fff;
}

/* 배너 */
/* #banner {} */

.img_Type {
    width: 100%;
    height: 700px;
    /* background-image: url(../img/Mask\ Group-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    background: url(../img/마운틴.jpg) no-repeat center / cover;
}

/* 웹 사이트에서 이미지를 표현하는 방법 
    1. HTML 태그를 통해서 : img태그 : 의미가 있는 이미지(로고, 메뉴) --> alt(대체문자)
    2. CSS 속성을 통해서 : background 속성 : 의미가 없는 이미지(배경, 색표현) -->ir효과(대체 문자를 CSS속성으로 표현)
    3. 이미지 스프라이트 : background와 ir효과를 통해서 이미지를 표현
*/
/* 이미지/텍스트 유형 유형1(img_text_type01)*/
.imgText_type01 {
    padding: 150px 0;
    overflow: hidden;
}

.imgText_type01 .text {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
}

.imgText_type01 .text .text_title {
    font-family: 'GmarketSans';
    font-size: 50px;
    font-weight: 500;
    margin: 70px 0 45px -4px;
}

.imgText_type01 .text .text_desc {
    font-family: 'NEXONLv1Gothic';
    font-style: 18px;
    color: #888;
    margin-bottom: 55px;
}

.imgText_type01 .text .text_more {
    font-family: 'NEXONLv1Gothic';
    font-size: 18px;
}

.imgText_type01 .text .text_more a {
    color: #af3029;
}

/* .itType01 .text .text_more svg {
    vertical-align: 2px;
} */
.imgText_type01 .img1 {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
    background-color: #ccc;
    background-image: url(../img/img_text_bg1.jpg);
}

.imgText_type01 .img2 {
    float: left;
    width: 386.66px;
    height: 530px;
    background-color: #ccc;
    background-image: url(../img/img_text_bg2.jpg);
}

@media (-webkit-min-device-pixel-ratio:1.5) {
    .imgText_type01 .img1 {
        background-image: url(../img/img_text_bg1@2x.jpg);
    }

    .imgText_type01 .img2 {
        background-image: url(../img/img_text_bg1@2x.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio:2.5) {
    .imgText_type01 .img1 {
        background-image: url(../img/img_text_bg1@3x.jpg);
    }

    .imgText_type01 .img2 {
        background-image: url(../img/img_text_bg1@3x.jpg);
    }
}

/* itType02 */
.imgText_type02 {
    background: #F5F5F5;
    overflow: hidden;
    padding: 150px 0;
    min-width: 1200px;
}
.imgText_type02 .left {
    float: left;
    width: 48.5%;
    height: 535px;
    background: url(../img/img_text_bg3.jpg) no-repeat center center;
    background-size: cover;
    margin-right: 1.5%;
}
.imgText_type02 .right {
    font-family: 'GmarketSans';
    float: left;
    width: 48.5%;
    height: 535px;
    margin-left: 1.5%;
}
.imgText_type02 .right .sub {
    font-size: 16px;
    color: #7C7C7C;
    margin-top: 43px;
    margin-bottom: 10px;
    display: inline-block;
    /* text-decoration: underline;
    text-underline-position: under; */
    border-bottom: 1px solid #7C7C7C;
}
.imgText_type02 .right .title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 38px;
    white-space: nowrap;
}
.imgText_type02 .right .desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 38px;
    white-space: nowrap;
}
.imgText_type02 .right .view {
    font-size: 16px;
    font-weight: 300;
    background: #000;
    padding: 9px 46px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
}
/* 이미지 유형 01(img_type01) */
.img_type01 {
    padding: 150px 0;
    height: 500px;
    margin-bottom: 500px;
}
.img_type01 h3 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 30px;
}
.img_type01 h3 em {
    font-size: 20px;
    color: #777;
    vertical-align: -4px;
}
.img_type01 .img_wrap {
   display: flex;
   justify-content: space-between;
}
.img_type01 .img_wrap .left {
    width: 590px;
    height: 360px;
    background: url(../img/겨울산.jpg);
    position: relative;
}
.img_type01 .img_wrap .right {
    width: 590px;
    height: 360px;
    background: url(../img/도시야경.jpg);
    position: relative;
}
.img_type01 .img_wrap .left-cont {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.img_type01 .img_wrap .left-cont a {
    background: rgba(54, 54, 54, 0.6);
}
.img_type01 .img_wrap .right-cont {
    padding: 20px;
    width: 390px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    background: rgba(59, 59, 59, 0.6);
}
.img_type01 .img_wrap .right-cont a {
    text-decoration: underline;
}
.img_type01 .img_wrap h4 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
}
.img_type01 .img_wrap p {
    width: 561px;
    font-size: 14px;
    color: #ffffff;
    padding-right: 200px;
    margin-bottom: 15px;
}
.img_type01 .img_wrap a {
    /* background: rgba(54, 54, 54, 0.6); */
    width: 130px;
    padding: 10px 10px;
    color: #ffffff;
    display: inline-block;
}
/* 이미지 유형 02(img_type02) */
.img_type02 {}