
/* 1. float를 사용할 경우*/
/* #header {
    padding: 10px;
    border: 1px solid #333;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    float: left;
    width: 20%;
    padding: 20px 18px;
}
#header .logo a {
    font-size: 30px;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    float: left;
    width: 60%;
    text-align: center;
}
#header .menu div {
    display: inline-block;
    padding: 30px;
}
#header .member {
    float: right;
    width: 20%;
    text-align: right;
    padding: 30px 10px;
}
#header .member a {
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 50px;
} */

/* flex를 사용할 경우 */
#header {
    border-bottom: 1px solid #eee;
    display: grid;
    
}
/* #header .logo {
 
}
#header .menu {
    
}#header .menu div {
   
}
#header .member {

} */